arrow
asgiref
binaryornot
certifi
chardet
charset-normalizer
click
cloudinary
colorama
cookiecutter
crispy-bootstrap5
dj-database-url
Django
django-autoslug
django-browser-reload
django-ckeditor
django-cloudinary-storage
django-crispy-forms
django-environ
django-heroku
django-js-asset
django-social-share
django-tailwind
docopt
gunicorn
idna
Jinja2
jinja2-time
MarkupSafe
Pillow
pipreqs
# psycopg2==2.9.1
psycopg2-binary
python-dateutil
python-slugify
pytz
PyYAML
requests
six
sqlparse
text-unidecode
tzdata
urllib3
whitenoise
yarg
django-tinymce
