
* {
    margin: 0;
    padding: 0;
}
.imgbox { 
  display: flex;
  flex-direction: row;
  
  

}
.center-fit {
    
   
}

.podcast-list {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
  }
  
  .podcast-list a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
  }


@media only screen and (max-width: 600px) {
    .imgbox {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -50px;
  margin-left: -100px;

        
    }
    .center-fit {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
    }
 

  }