/* Base Template */
html,
body {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #801625;
  --secondary: #98839F;
  --base: rgb(240, 234, 234);
}

h2,
h3,
h4,
h5 {
  color: var(--primary);
}

.nav-section {
  background-color: rgba(248, 249, 250);
}

nav ul {
  font-size: 1.2em;
}

.hero-section {
  background-color: #98839F;
  background-image: linear-gradient(to right,
      #98839F, #f2e9f5);
}

hr {
  margin: 0;
  height: 1px;
}

.circle-1 {
  background-color: #801625;
  border-radius: 50%;
  top: 43%;
  right: 10%;
  width: 50px;
  height: 50px;
  z-index: 2;
}

.circle-2 {
  background-color: #98839F;
  border-radius: 50%;
  top: 25%;
  right: 40px;
  width: 100px;
  height: 100px;
}

.circle-3 {
  background-color: #801625;
  border-radius: 50%;
  top: 25%;
  right: 40px;
  width: 200px;
  height: 200px;
}

h1 {
  font-family: "Hind Madurai";
  color: var(--primary);
}

.details p {
  font-size: 1.2em;
  font-family: "Hind Madurai";
}

h2 .epitle {
  font-size: 4em;
  text-align: justify;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("https://cdn.pixabay.com/photo/2018/05/28/12/09/headphones-3435885_960_720.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.podcast-countries img {
  width: 100%;
  background-color: red;

}

.sponsors {
  display: flex;
  flex-direction: column;
  margin: 50px 0px 50px 0px;
  text-align: center;
}

.copyright {
  background-color: var(--base);
}

/* Episode Template */

.episode-list {
  margin-top: 15px;
  /* padding: 30px; */
}

.episode-list a {
  color: rgb(189, 196, 189);
  /* padding: 30px; */
}

.episode-tags {
  background-color: #e1ecec;
  color: black;
  border-radius: 20px;
  padding: 3px 8px 3px 8px;
}

.episode-tags:hover {
  background-color: black;
  color: #ffffff;
  transition: 0.5s;
}

.guests {
  display: flex;
  flex-direction: row;
}

.card a {
  text-decoration: none;
  color: rgb(20, 19, 19);
}

.platform {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
  padding: 12px;
  margin: auto;
}

.services {
  background-color: #fcba03;
}

.monthly {
  background-color: rgb(61, 175, 175);
  height: 25vh;
  margin: auto;
  display: flex;
}

.contact {
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: auto;
}

.contact img {
  width: 50%;
  height: 100%;
}

.tags {
  color: black;
}

.episode:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  font-family: 'Cabin', sans-serif;
}

p .description {

  font-size: 3em;

}

.mailchimp {
  padding: 4em;
  margin-top: 4em;
}

/* footer {
    height: 40vh;
    background-color: #5d5f85;
  } */

a {
  text-decoration: none;
  color: var(--primary)
}

.form textarea,
.form input {
  width: 80%;
}

.col ul {
  list-style: none;
}

.support ul li:before {
  content: "✓";
  color: green;
  font-size: 1.5em;
}

.dot {
  font-size: 23rem;
  background-color: rgb(20, 19, 19);
  border-radius: 50%;
  display: inline-block;
}

.embed-podcast-ltr-1p14a75.e1aiy3a112 {
  display: none;
}

img.logo {
  width: 120px;
}

.search-img {
  width: 30%;
}

.mic {
  text-align: center;
  font-size: 2.5em;
  padding: 20px;
}

/* Newsletter */
.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.home-newsletter .single .form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px;
}

.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f;
}

.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #243c4f;
  color: #fff;
}

.circles {
  text-align: center;
}

.no-result {
  margin: auto;
  text-align: center;
  padding: 20px;
}

.pricing-header {
  max-width: 700px;
}

.container-support {
  max-width: 960px;
}

.support-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
}

.support-card.episode-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.flex-container {
  flex-wrap: wrap;
  font-size: 30px;
}

.flex {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
}

.flex img {
  width: 20%;
}

.item-head {
  font-size: 1.2em;
  text-align: center;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

hr:not([size]) {
  height: 1px;
}

.statistics {
  /* background-color: #243c4f; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  font-size: 3em;
  margin: auto;
  font-weight: bold;
}

.statistics .bi {
  font-size: 4rem;
  font-weight: bold;
}

.statistics h3 {
  font-size: 1em;
  font-weight: bold;
  color: black;
}

.statistics p {
  font-size: 0.5em;
  line-height: 0.5;
  font-weight: normal;
}

.partnership {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  margin: auto;
}


.countries {
  background-image: url("https://res.cloudinary.com/linibenson/image/upload/v1661774071/geospatiallyafricapodcast/static/worldmap_podcast_gdj_rp5soa.png");
  height: 50vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
/* @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
 
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }

  h3 {
    font-size: 2em; 
    font-weight: bold; 
    padding: 10px 0;
  }

  #revue-embed {
    background-color: #fcba03;
    padding: 60px;
  } */

/** Mobile screen **/

@media screen and (max-width: 768px) {
  .display-5 h1 {
    font-size: 3.4em;
  }

  h3 {}

  .col-md-8 {
    width: 100%;
  }

  .hero-image {
    min-height: 250px;
  }

  .justify-content-center {
    justify-content: center;
  }

  .d-md-flex {
    justify-content: center;
  }

  .search-img {
    width: 60%;
  }

  .button {
    background-color: #4caf50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .hero-image {
    min-height: 80px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: auto;
  }

  .flex {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    margin: auto;
  }

  .circles {
    display: none;
  }

  .statistics {
    /* background-color: #243c4f; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 60%;
    margin: auto;
  }

  .statistics p {
    font-size: 0.5em;
    line-height: 0.5;
  }

}