html, body {
  margin: 0;
  box-sizing: border-box;
}


  .circle-1 {
    background-color: #7795e9;
    border-radius: 50%;
    top: 43%;
    right: 10%;
    width: 50px;
    height: 50px;
    z-index: 2;
  }
  .circle-2 {
    background-color: #9ea9c7;
    border-radius: 50%;
    top: 25%;
    right: 40px;
    width: 100px;
    height: 100px
  }
  .circle-3 {
    background-color: #9ea9c7;
    border-radius: 50%;
    top: 25%;
    right: 40px;
    width: 200px;
    height: 200px
  }


  h2 .epitle {
    font-size: 4em;
    text-align: justify;
  }

  .guests {
    display: flex;
    flex-direction: row;
  }




  a:focus {
    text-decoration: underline;
  }

  .platform {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    padding: 12px;
    margin: auto;
  }


  audio {
    width: 100%;
  }



  .services {
    background-color: #fcba03;
  }

  .monthly {
    background-color: rgb(61, 175, 175);
    height: 25vh;
    margin: auto;
    display: flex;
  }

  .contact {
    background-color: #d1d8ee7e;
  }

  /* footer {
    height: 40vh;
    background-color: #5d5f85;
  } */

a {
  text-decoration: none;
}

.form textarea,
.form input {
  width: 80%
}


.dot {
  font-size: 23rem;
  background-color: rgb(20, 19, 19);
  border-radius: 50%;
  display: inline-block;
}

.embed-podcast-ltr-1p14a75.e1aiy3a112 {
  display: none;
}

img.logo {
  width: 120px;
}



.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; }
  .home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px; }
  .home-newsletter .single .form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px; }
  .home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f; }
  .home-newsletter .single .btn {
  min-height: 50px; 
  border-radius: 0 20px 20px 0;
  background: #243c4f;
  color: #fff;
  }