html, body {
  margin: 0;
  box-sizing: border-box;
  background-color: #98839F;
}


  .circle-1 {
    background-color: #7795e9;
    border-radius: 50%;
    top: 43%;
    right: 10%;
    width: 50px;
    height: 50px;
    z-index: 2;
  }
  .circle-2 {
    background-color: #9ea9c7;
    border-radius: 50%;
    top: 25%;
    right: 40px;
    width: 100px;
    height: 100px
  }
  .circle-3 {
    background-color: #9ea9c7;
    border-radius: 50%;
    top: 25%;
    right: 40px;
    width: 200px;
    height: 200px
  }


  h2 .epitle {
    font-size: 4em;
    text-align: justify;
  }




  a:focus {
    text-decoration: underline;
  }

  .platform {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    padding: 12px;
    margin: auto;
  }


  audio {
    width: 100%;
  }



  .services {
    background-color: #fcba03;
  }

  .monthly {
    background-color: rgb(61, 175, 175);
    height: 25vh;
    margin: auto;
    display: flex;
  }

  .contact {
    background-color: #d1d8ee7e;
  }

  /* footer {
    height: 40vh;
    background-color: #5d5f85;
  } */

a {
  text-decoration: none;
}

.form textarea,
.form input {
  width: 80%
}


.dot {
  font-size: 23rem;
  background-color: rgb(20, 19, 19);
  border-radius: 50%;
  display: inline-block;
}

.embed-podcast-ltr-1p14a75.e1aiy3a112 {
  display: none;
}

img.logo {
  width: 32px;
}