html, body {
  margin: 0;
  box-sizing: border-box;
}

hr {margin: 0;}

  .circle-1 {
    background-color: #7795e9;
    border-radius: 50%;
    top: 43%;
    right: 10%;
    width: 50px;
    height: 50px;
    z-index: 2;
  }
  .circle-2 {
    background-color: #9ea9c7;
    border-radius: 50%;
    top: 25%;
    right: 40px;
    width: 100px;
    height: 100px
  }
  .circle-3 {
    background-color: #9ea9c7;
    border-radius: 50%;
    top: 25%;
    right: 40px;
    width: 200px;
    height: 200px
  }

  h1 {
    font-family: 'Hind Madurai';
  }


  h2 .epitle {
    font-size: 4em;
    text-align: justify;
  }


  .hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image:url("https://cdn.pixabay.com/photo/2018/05/28/12/09/headphones-3435885_960_720.jpg");
  
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }


  .episode-list {
    margin-top: 15px;
    /* padding: 30px; */
  }

  .episode-list a {
    
    color: rgb(196, 189, 189);
    /* padding: 30px; */
  }

  .guests {
    display: flex;
    flex-direction: row;
  }

  .card a {
    text-decoration: none;
  }

  .platform {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    padding: 12px;
    margin: auto;
  }


  .services {
    background-color: #fcba03;
  }

  .monthly {
    background-color: rgb(61, 175, 175);
    height: 25vh;
    margin: auto;
    display: flex;
  }

  .contact {
    background-color: #d1d8ee7e;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* footer {
    height: 40vh;
    background-color: #5d5f85;
  } */

a {
  text-decoration: none;
}

.form textarea,
.form input {
  width: 80%
}


.dot {
  font-size: 23rem;
  background-color: rgb(20, 19, 19);
  border-radius: 50%;
  display: inline-block;
}

.embed-podcast-ltr-1p14a75.e1aiy3a112 {
  display: none;
}

img.logo {
  width: 120px;
}



.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; }
  .home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px; }
  .home-newsletter .single .form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px; }
  .home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f; }
  .home-newsletter .single .btn {
  min-height: 50px; 
  border-radius: 0 20px 20px 0;
  background: #243c4f;
  color: #fff;
  }




  
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }

  h3 {
    font-size: 2em; 
    font-weight: bold; 
    padding: 10px 0;
  }

  #revue-embed {
    background-color: #fcba03;
    padding: 60px;
  }

  @media screen and (max-width: 768px) {
    h3 {
      font-size: 0.8em;
    }

    .hero-image {
      min-height: 250px;
    }
    .justify-content-center {
      justify-content:center
    }
    .contact {
      flex-direction: column;
    }

  }

  .d-md-flex {
    justify-content: center;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }