{% extends 'podcast/base.html' %}
{% load static %}
{% block content %}

<main>

  <div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">About Us</h1>
        <p class="col-md-8 fs-4">Join us as we talk to industry experts and professionals about how they are using
          geospatial technology in different areas. Stay informed about the latest trends and developments in the
          geospatial world
          in Africa and across the world.</p>
      </div>
    </div>

    <!-- <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Change the background</h2>
          <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix
            and match with additional component themes and more.</p>
          <button class="btn btn-outline-light" type="button">Support Us</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Add borders</h2>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to
            look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's
            content for equal-height.</p>
          <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container">
    <h3 class="mic" style="text-align:center; padding: 20px">Our Reach in numbers</h3>
    <div class="statistics">
      <div class="stats">
        <div class="stat-episode">
          <i class="bi bi-mic"></i><br>
          <h3>{{ count }}+</h3>
          <p>Episodes</p>
        </div>
      </div>
      <div class="stats">
        <div class="stat-subscribers">
          <i class="bi bi-people"></i><br>
          <h3>400+</h3>
          <p>Subscribers</p>
        </div>
      </div>
      <div class="stats">
        <div class="stat-listens">
          <i class="bi bi-headset"></i><br>
          <h3>2000+</h3>
          <p>Listens</p>
        </div>
      </div>
      <div class="stats">
        <div class="stat-country">
          <i class="bi bi-globe"></i><br>
          <h3>67+</h3>
          <p>Countries</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h3 class="mic">
      Behind the mic <i class="bi bi-mic-fill"></i>
    </h3>
  
    <div class="container col-lg-8">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img class="card-img-top"
              src="https://res.cloudinary.com/linibenson/image/upload/v1661985228/geospatiallyafricapodcast/static/iniobong_mketmx.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">Iniobong Benson</h5>
              <p class="card-text">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
                out
                print, graphic or web designs.</p>
            </div>
  
            <ul class="nav" style="text-align: center; margin: auto;">
              <li><a href="https://github.com/linibensonjr" class="nav-link px-2 link-secondary"><i class="bi bi-github"
                    style="font-size: 1.5rem;"></i></a></li>
              <!-- <li><a href="https://www.youtube.com/channel/UC3WhmcpM7yaRm1JOFUvUCNw/" class="nav-link px-2 link-dark"><i class="bi bi-youtube"
                            style="font-size: 1.5rem; color: red;"></i></a></li> -->
              <li><a href="https://twitter.com/linibenson" class="nav-link px-2 link-dark"><i class="bi bi-twitter"
                    style="font-size: 1.5rem; color: cornflowerblue;"></i></a></li>
              <li><a href="https://www.linkedin.com/in/linibenson/" class="nav-link px-2 link-dark"><i
                    class="bi bi-linkedin" style="font-size: 1.5rem; color: cornflowerblue;"></i></a></li>
            </ul>
          </div>
        </div>
  
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="{% static 'img/ope.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">Opeyemi Kazeem-Jimoh</h5>
              <p class="card-text">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
                out
                print, graphic or web designs. </p>
            </div>
  
            <ul class="nav" style="text-align: center; margin: auto;">
              <!-- <li><a href="" class="nav-link px-2 link-secondary"><i class="bi bi-github"
                            style="font-size: 1.5rem;"></i></a></li> -->
              <!-- <li><a href="" class="nav-link px-2 link-dark"><i class="bi bi-youtube"
                            style="font-size: 1.5rem; color: red;"></i></a></li> -->
              <li><a href="https://twitter.com/oluremi_opeyemi" class="nav-link px-2 link-dark"><i class="bi bi-twitter"
                    style="font-size: 1.5rem; color: cornflowerblue;"></i></a></li>
              <li><a href="#" class="nav-link px-2 link-dark"><i class="bi bi-linkedin"
                    style="font-size: 1.5rem; color: cornflowerblue;"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="podcast-countries">
      <h3 class="mic" style="text-align:center; padding: 20px">Our Reach with map</h3>
      <img src="https://res.cloudinary.com/linibenson/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1662934329/geospatiallyafricapodcast/static/geospatiallyafrica_countries_e1spac.png" alt="">
    </div>
  
    <!-- <div class="countries"></div> -->
  </div>
</main>

{% endblock %}