{% extends 'podcast/base.html' %}

{% load static %}

{% block og_title %} {% for episode in episode %}{{ episode.title }}{%endfor%} {% endblock %}
{% block og_description %} {% for episode in episode %}{{ episode.summary|truncatechars:100 }}{%endfor%} {% endblock %}

{% block title %} {% for episode in episode %}{{ episode.title }}{%endfor%} {% endblock %}

{% block content %}

{% load social_share %}



<div class="container">
  <div class="row g-5">
    {% for episode in episode %}
    <div class="cla" style="padding-bottom:60px; padding-top: 20px;">
      <a href="{% url 'episode_list' %}" style="color:brown;"> &#60;All Episodes | Episode: {{episode.episode}} >
        {{episode.title}}
      </a>
    </div>

    <div class="col-md-8">
      <div class="card-stacked details">
        <div class="card-content">
          <h2 style="font-size: 3em; text-align: center;">{{ episode.title }}</h2>
          <h6 style="text-align: center; padding: 10px; font-size: 1.1em;">
            SEASON: {{ episode.season}} | EPISODE: {{episode.episode}} |
            <time class="date">{{ episode.published_date }}</time> |
            {% for tag in episode.tag.all %}
            <a href="{% url 'tags' %}?tag={{tag}}"><span class="episode-tags">{{tag}}</span></a>
            {% endfor %}
          </h6>

          <!-- Episode Summary -->
          <article>
            <p>{{ episode.summary}}</p>
          </article>

          <!-- Episode Actions -->
          {% if user.is_authenticated %}
          <div class="episode-actions" style="display:flex; justify-content: center;">
            <a href="{% url 'episode_edit' slug=episode.slug %}"><button type="button"
                class="btn btn-success">Edit</button></a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
              Delete
            </button>
            <!-- Popup Edit/Delete Modal -->
            <div class="modal" tabindex="-1" id="deleteModal">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Delete {{ episode.title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to delete this episode?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                    <a href="{% url 'episode_delete' slug=episode.slug %}"><button type="button"
                        class="btn btn-danger">Delete</button></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Popup Edit/Delete Modal -->
          </div>
          <!-- End Episode Actions -->
          {% if not episode.published_date %}
          <a class="btn btn-default" href="{% url 'episode_publish' slug=episode.slug %}">Publish</a>
          {% endif %}
          {% endif %}

        </div>
        <p style="text-align: center;">
          With {{ episode.host }}{% if episode.cohost %}, {{ episode.cohost }} {% endif %} and {{ episode.guest }}
        </p>

        <h3>Listen</h3>
        {{episode.link | safe}}
        <div class="d-grid gap-2 d-md-flex justify-content-md-center" style="padding: 30px;">

          <a href="{{ episode.googlepodcast }}"
            target="_blank">
            <img src="{%static 'img/googlepod.svg' %}" alt="google podcast logo" /></a>
          <a href="{{ episode.applepodcast }}" target="_blank"><img src="{%static 'img/applepod.svg' %}" alt="apple podcast logo"/></a>
          <a href="{{ episode.spotify }}" target="_blank"><img src="{%static 'img/spotify-podcast.svg' %}" alt="spotify podcast logo"/></a>
        </div>
        <h3>Show Notes</h3>

        <p class="container description">{{ episode.description | safe }}</p>
      </div>


    <!-- Social Share -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-center" style="padding: 30px;">
      {% post_to_twitter "New Episode: {{episode.title}}. Check it out!" object_or_url "Twitter" %}
      {% post_to_linkedin object_or_url "New Episode: {{episode.title}}"  %}
      {% post_to_telegram "New Episode: {{episode.title}}" '&#xF5B3;' %}
      {% post_to_whatsapp object_or_url "WhatsApp" %}
      {% send_email episode.title "New Episode: {{episode.title}}. Check it out!" '' "Email" %}
      {% post_to_reddit "New Episode: {{episode.title}}" "Reddit" %}
    </div>
    <!-- Social Share ends here -->
    {% endfor %}

    <!-- Other Episodes -->
    <h4>Episodes like this</h4>
    <div class="row row-cols-1 row-cols-md-3 g-3">
      {% for episode in episodes %}
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{episode.title }}</h5>
            <p class="card-text">{{ episode.summary | truncatechars:150}}</p>
            <div class="tag-container">
              {% for tag in episode.tag.all %}
              <span style="background-color: rgb(225, 236, 236); border-radius: 23px; padding: 0 2px 1px 3px;">{{ tag }}</span>
              {% endfor %}
            </div>
            <p><a href="{% url 'episode_detail' slug=episode.slug %}"><button class="btn btn-outline-secondary"
                  style="width:100%">Readmore</button></a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Other Episodes ends here -->
  </div>


  <!-- Sidebar content -->
  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="fst-italic">Geospatially</h4>
        <p class="mb-0">Join us as we talk to industry experts and professionals about how they are using geospatial
          technology in different areas. Stay informed about the latest trends and developments in the geospatial
          world in Africa and across the world</p>
      </div>

      <div class="p-4">
        <h5 class="fst-italic">Featured in this episode</h5>
        {% for episode in episode %}
        <p><strong>Hosted By</strong></p>
        {% if episode.host == "Iniobong Benson" %}
        <img src="{% static 'img/iniobong.jpg' %}" style="border-radius: 50%; width: 70px; height: 70px" alt="Iniobong" />
        {% else %}
        <img src="{% static 'img/ope.jpg' %}" style="border-radius: 50%; width: 70px; height: 70px" alt="Opeyemi" />
        {% endif %}
        {{ episode.host }}
        {% for host in host %}
        {% if host.name == episode.host %}
        <p>{{ host.bio|safe }}</p>
        {% endif %}
        {% endfor %}


        {% if episode.cohost %}
        <p><strong>And</strong></p>
        {% if episode.cohost == "Iniobong Benson" %}
        <img src="{% static 'img/iniobong.jpg' %}" style="border-radius: 50%; width: 70px; height: 70px" alt="Iniobong" />
        {% else %}
        <img src="{% static 'img/ope.jpg' %}" style="border-radius: 50%; width: 70px; height: 70px" alt="Opeyemi" />
        {% endif %}
        {{ episode.cohost }}
        {% for host in host %}
        {% if host.name == episode.cohost %}
        <p>{{ host.bio|safe }}</p>
        {% endif %}
        {% endfor %}
        {% endif %}

        <ol class="list-unstyled mb-0">
          <p><strong>Guest</strong></p>
          {% if episode.guest_image %}
          <img src="{{ episode.guest_image.url }}" style="border-radius: 50%; width: 70px; height: 70px" alt="{{episode.guest}}" />
          {% else %}
          <img src="{% static 'img/guest-icon.jpg' %}" style="border-radius: 50%; width: 70px; height: 70px" alt="guest icon" />
          {% endif %}
          {{ episode.guest }}
          <p>{{ episode.guest_bio }}</p>
        </ol>
        {% endfor %}
        
        <h5>Other Episodes</h5>
        {% for ep in sidebar_eps %}
        <div class="episode-list">
          <a href="{% url 'episode_detail' slug=ep.slug %}" style="margin-top: 40px; color: black;">>{{ep.title}}</a>
        </div>
        {% endfor %}
      </div>



      <div class="p-4">
        <h4 class="fst-italic">Tweets</h4>
        <a href="https://twitter.com/geospatialy?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large"
          data-show-count="false">
          Follow @geospatialy</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
  <!-- Sidebar content ends here -->
</div>
</div>
<!-- Container ends here -->

{% endblock %}