{% extends 'podcast/base.html' %}

{% load static %}

{% block title %} {% for episode in episode %}{{ episode.title }}{%endfor%} {% endblock %}

{% block content %}

{% load social_share %}



<div class="container">
  <!-- {% for slug in episode} -->
  <div class="row g-5">


    {% for episode in episode %}
      <div class="cla" style="padding-bottom:60px; padding-top: 20px;">
        <a href="{% url 'episode_list' %}" style="color: brown;"> &#60;All Episodes | Episode: {{episode.episode}} >
          {{episode.title}}
        </a>

      </div>


      <!-- <div class="card"> -->
      <div class="col-md-8">
        <div class="card-stacked">
          <div class="card-content">
            <h2 style="font-size: 3em; text-align: center; color: brown;">{{ episode.title }}</h2>
            <!-- <h5>EPISODE SUMMARY</h5> -->
            <h6 style="text-align: center; padding: 10px; font-size: 1.1em;">
              SEASON: {{ episode.season}} | EPISODE: {{episode.episode}} |
              <!-- <time class="date">{{ episode.published_date }}</time> |  -->
              {% for tag in episode.tag.all %}
          <!-- <ol class="list-unstyled mb-0"> -->
                <a href="{% url 'episode_list' %}" style="background-color: rgb(225, 236, 236); border-radius: 5px; padding: 0 4px;">{{tag}}</a></span>
          <!-- </ol> -->
              {% endfor %}
            </h6>
            <article>
              <p>{{ episode.summary}}</p>
            </article>


            {% if user.is_authenticated %}
              <a href="{% url 'episode_edit' pk=episode.pk %}">Edit</a>


              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">
                Launch demo modal
              </button>
              

              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">
                Launch demo modal
              </button>
              
              <div class="modal" tabindex="-1" id="deleteModal">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-danger"><a href="{% url 'episode_delete' pk=episode.pk %}">Delete</a></button>
                    </div>
                  </div>
                </div>
              </div>


              

              <!-- {% if not episode.published_date %} -->
              <!-- <div class="date">
                      Date {{ episode.published_date }}
                    </div> -->
              <a class="btn btn-default" href="{% url 'episode_publish' pk=episode.pk %}">Publish</a>
              {% endif %}
            {% endif %}



            <p>
              <strong>Host:</strong> {{ episode.host }} | <strong>Guest:</strong> {{ episode.guest }}
            </p>

           

            <h3>Listen</h3>
            <!-- <iframe src="https://castbox.fm/app/castbox/player/id4009803/id370936819?v=8.22.11&autoplay=0&hide_list=1"
              frameborder="1" width="100%" height="200"></iframe> -->
            {{episode.link | safe}}
            <div class="d-grid gap-2 d-md-flex justify-content-md-center" style="padding: 30px;">

              <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy80ZDg4MWJhMC9wb2RjYXN0L3Jzcw?sa=X&ved=2ahUKEwj2ssjoqvvyAhUKpBoKHRbBCkoQ9sEGegQIARAC"
                target="_blank">
                <img src="{%static 'img/googlepod.svg' %}" alt="google podcast" /></a>
              <a href=""><img src="{%static 'img/applepod.svg' %}" /></a>
              <a href=""><img src="{%static 'img/spotify-podcast.svg' %}" /></a>
            </div>
            <h3>Show Notes</h3>

            <p class="container">{{ episode.description | safe }}</p>
          </div>
          <div class="card-action">

          </div>
        </div>

        <!-- </div> -->

        <div class="d-grid gap-2 d-md-flex justify-content-md-center" style="padding: 30px;">
          {% post_to_twitter "New Episode: {{episode.title}}. Check it out!" object_or_url "Twitter" %}
          {% post_to_linkedin object_or_url %}</span>
          {% send_email episode.title "New Episode: {{episode.title}}. Check it out!" '' "Email" %}
          {% post_to_reddit "New Episode: {{episode.title}}" "Reddit" %}
          {% post_to_telegram "New Episode: {{episode.title}}" '&#xF5B3;' %}
          {% post_to_whatsapp object_or_url "WhatsApp" %}
        </div>
    {% endfor %}

      <h4>Episodes like this</h4>
      <div class="row row-cols-1 row-cols-md-3 g-3">
        {% for episode in episodes %}
          <div class="col">
            <div class="card">
              <!-- {% if episode.episodepic %}
                <img class="card-img-top" src="{{episode.episodepic}}" alt="Card image cap">
              {% else %}
                <img class="card-img-top" src="{% static 'img/ope_lau.jpg' %}" alt="Card image cap">
              {% endif %} -->
              
              <div class="card-body">
                <h5 class="card-title">{{episode.title }}</h5>
                <p class="card-text">{{ episode.summary | truncatechars:150}}</p>
                <div class="tag-container">
                  {% for tag in episode.tag.all %}
                <span style="background-color: rgb(225, 236, 236); border-radius: 23px; padding: 0 2px 1px 3px;">{{ tag }}</span>
                {% endfor %}
                </div>   
                <p><a href="{% url 'episode_detail' pk=episode.pk %}"><button class="btn btn-outline-secondary" style="width:100%">Read
                    more</button></a></p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

<!-- Sidebar content -->

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">Geospatially</h4>
          <p class="mb-0">Join us as we talk to industry experts and professionals about how they are using geospatial
            technology in different areas. Stay informed about the latest trends and developments in the geospatial
            world in Africa and across the world</p>
        </div>

        <div class="p-4">
          <h6 class="fst-italic">Featured in this episode</h6>
          {% for episode in episode %}
         
          <p>Hosted By</p>
          <ol class="list-unstyled mb-0"></ol>
          <img src="{% static 'img/ope.jpg' %}" style="border-radius: 50%; width: 70px; height: 70px" />
          {{ episode.host }}
          {% for host in host %}
            {% if host.name == episode.host %}
              <p>{{ host.bio|safe }}</p>
            {% endif %}
          {% endfor %}
          
          <ol class="list-unstyled mb-0">
            {% if episode.guest_image %}
            <img src="{{ episode.guest_image.url }}" style="border-radius: 50%; width: 70px; height: 70px" />
            {% else %}
            <img src="{% static 'img/guest-icon.jpg' %}" style="border-radius: 50%; width: 70px; height: 70px" />
            {% endif %}
            {{ episode.guest }}
            <p>{{ episode.guest_bio }}</p>
          </ol>
         
          {% endfor %}
          {% for ep in sidebar_eps %}
            <div class="episode-list">
              <a href="{% url 'episode_detail' pk=ep.pk %}" style="margin-top: 40px;">>{{ep.title}}</a>
            
            </div>
            {% endfor %}
        </div>



        <div class="p-4">
          <h4 class="fst-italic">Tweets</h4>
          <a href="https://twitter.com/geospatialy?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large"
            data-show-count="false">
            Follow @geospatialy</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>

    <!-- Sidebar content ends here -->

  </div>
</div>

  {% endblock %}