{% extends 'podcast/base.html' %}

{% load static %}

{% block title %} Geospatially Africa Podcast - Episodes {% endblock %}


{% block content %}

<div class="px-4 py-5 my-5 text-center hero-image">
  <h1 class="display-5 fw-bold" style="margin: auto;">Episodes</h1>

</div>

<div class="container col-lg-6">
  <form action="{% url 'search_results' %}" method="get">
    <input name="q" type="search" class="form-control rounded" placeholder="Type a search keyword" style="margin: 30px auto; width: 80%;">
  </form>
  
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for episode in episodes %}
    <div class="col">
      <div class="card episode">
        
        {% if episode.episode_image %}
        {% load cloudinary %}  
        <img class="card-img-top" src="{{ episode.episode_image.url }}" alt="Episode Art">
        {% else %}


        <img class="card-img-top" src="{% static 'img/ope_lau.jpg' %}" alt="Card image cap">

        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{episode.title }}</h5>
          <p class="card-text">{{ episode.summary}}</p>
          <a href="{% url 'episode_detail' pk=episode.pk %}"><button class="btn btn-outline-secondary">Read
              more</button></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


</div>


{% endblock %}

{% block sidebar %}

{% endblock %}
