{% extends 'podcast/base.html' %}

{% block content %}
<section class="hero-section">
    <div class="container px-4 py-5">
      <div class="px-4 py-5 my-5 text-center hero-episode">
        <h1 class="display-5 fw-bold">Draft Episodes</h1>
      </div>
    </div>
  </section>
{% if episodes %}
    {% for episode in episodes %}
        
        <div class="container">
            <p class="date">created: {{ episode.created_date|date:'d-m-Y' }}</p>
            <h1><a href="{% url 'episode_detail' slug=episode.slug %}">{{ episode.title }}</a></h1>
            <p>{{ episode.text|truncatechars:200 }}</p>
        </div>
             
    {% endfor %}
    {% else %}
    <p>Nothing to see here</p>
    {% endif %} 
{% endblock %}