{% extends 'podcast/base.html' %}
{% load static %}
{% block content %}

<div class="container px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <div class="circle-1"></div>
      <div class="circle-2"></div>
      <div class="circle-3"></div>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">The podcast for the African geospatial community</h1>
      <p class="lead">Join us as we talk to industry experts and professionals about how they are using geospatial
        technology in different areas. Stay informed about the latest trends and developments in the geospatial world in
        Africa and across the world.</p>
      
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy80ZDg4MWJhMC9wb2RjYXN0L3Jzcw?sa=X&ved=2ahUKEwj2ssjoqvvyAhUKpBoKHRbBCkoQ9sEGegQIARAC"
          target="_blank">
          <img src="{%static 'img/googlepod.svg' %}" alt="google podcast" /></a>
        <a href=""><img src="{%static 'img/applepod.svg' %}" /></a>
        <a href=""><img src="{%static 'img/spotify-podcast.svg' %}" /></a>
      </div>
    </div>
  </div>


</div>




  <!-- <div class="monthly">
    <div class="container"> -->



  <!-- <div class="card text-center">

    <div class="container d-flex justify-content-center">
      <h4 class="card-title">Some of our guests work at</h5>

        <div class="guests d-flex justify-content-center">
          <img src="https://geospatiallypodcast.files.wordpress.com/2021/04/dea.png" class="mx-auto d-block">
          <img src="https://geospatiallypodcast.files.wordpress.com/2021/04/dea.png" class="mx-auto d-block">

          <img src="https://geospatiallypodcast.files.wordpress.com/2021/04/dea.png" class="mx-auto d-block">
        </div>

    </div>

  </div> -->

<!-- </div> -->

<!-- </div>
</div> -->




<div class="container">



  <!-- {% for episode in episodes %}


            <div class="card mb-3" style="max-width: 840px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{% static 'img/icon_podcast.png' %}" class="img-fluid rounded-start" alt="podcast icon">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-text"><small class="text-muted"> SEASON: {{ episode.season}} | EPISODE: {{episode.episode}} |
                      <time class="date">{{ episode.published_date }}</time> | {{ episode.tags}}</small></p>
                    <h5 class="card-title">{{ episode.title }}</h5>
                    <p><strong>Host:</strong> {{ episode.host }} | Guest: {{ episode.guest }}</p>
                    <audio controls></audio>
                    <p class="card-text">{{ episode.summary}}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>

    {% endfor %}  -->



  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-2 mb-4 border-bottom">
        Latest Episodes
      </h3>



      {% for episode in episodes %}
      <div class="card mb-3">
        <div class="col-md-12">
          <div class="card-body">
            <p class="card-text">SEASON: {{ episode.season}} | EPISODE: {{episode.episode}} |
                <time class="date">{{ episode.published_date|date:"M d Y" }}</time> | 
                {% for tag in episode.tag.all %}
                <span style="background-color: rgb(225, 236, 236); border-radius: 23px; padding: 0 2px 1px 3px;">{{tag}}</span>
                {% endfor %}
              </p>
            <a href="{% url 'episode_detail' pk=episode.pk %}">
              <h4 class="card-title">{{ episode.title }}</h4>
            </a>
            <p>Hosted by {{ episode.host }} with guest {{ episode.guest }}</p>
            <!-- <iframe src="https://castbox.fm/app/castbox/player/id4009803/id370936819?v=8.22.11&autoplay=0&hide_list=1"
              frameborder="1" width="100%" height="200"></iframe> -->

            <p class="card-text">{{ episode.summary}}</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
      </div>


      {% endfor %}

        <ul class="pagination justify-content-center">  
          <li class="page-item">
            <a class="page-link" href="{% url 'episode_list' %}">Load more</a>
          </li>
        </ul>
    </div>

    <div class="col">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-red rounded">
          <h5 class="fst-italic">You can also listen on:</h5>
          
          <ol class="list-unstyled mb-0">
            <a href="" style="border-radius: 5px; padding: 0 4px;">Google &#8594;</a></span>
            <a href="" style="border-radius: 5px; padding: 0 4px;">Apple &#8594;</a></span>
            <a href="" style="border-radius: 5px; padding: 0 4px;">Spotify &#8594;</a></span>
            <a href="" style="border-radius: 5px; padding: 0 4px;">Sticher &#8594;</a></span>
            <a href="" style="border-radius: 5px; padding: 0 4px;">Anchor &#8594;</a></span>
            <a href="" style="border-radius: 5px; padding: 0 4px;">Google &#8594;</a></span>
          </ol>
   
        </div>

    <div class="col">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h5 class="fst-italic">Tags</h5>
          <p class="mb-0">Filter episodes by tags</p>
       

          {% for tag in tags %}
          <!-- <ol class="list-unstyled mb-0"> -->
            <a href="{% url 'episode_list' %}" style="background-color: rgb(225, 236, 236); border-radius: 5px; padding: 0 4px;">{{tag}}</a></span>
          <!-- </ol> -->
          {% endfor %}
   
        </div>
        <div class="p-4">
          <h5 class="fst-italic">Tweets</h5>
          <a href="https://twitter.com/geospatialy?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large"
            data-show-count="false">
            Follow @geospatialy</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>
      </div>
    </div>
  </div>
</div>

<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FFDD00" data-position="Right" data-x_margin="18" data-y_margin="18"></script>

{% endblock %}