{% extends 'podcast/base.html' %}

{% load static %}

{% block title %} Geospatially Africa Podcast - Episodes {% endblock %}


{% block content %}
{% if episode_list %}
<div class="px-4 my-5 text-center">
  <div class="container col-lg-6">
    <form action="{% url 'search_results' %}" method="get">
      <input name="q" type="search" class="form-control rounded" placeholder="Type a search keyword" style="margin: 30px auto; width: 80%;">
     
    </form>
  </div>
  
  <h1 class="display-5 fw-bold" style="margin: auto;"> Search Result </h1>

  
</div>



<div class="container col-lg-6">

  <div class="row row-cols-1 row-cols-md-2 g-4">

    {% for episode in episode_list %}
    <div class="col">
      <div class="card">
        {% if episode.episode_image %}
        <img class="card-img-top" src="{{episode.episode_image.url}}" alt="Card image cap">
        {% else %}


        <img class="card-img-top" src="{% static 'img/ope_lau.jpg' %}" alt="Card image cap">

        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{episode.title }}</h5>
          <p class="card-text">{{ episode.summary}}</p>
          <a href="{% url 'episode_detail' pk=episode.pk %}"><button class="btn btn-outline-secondary">Read
              more</button></a>
        </div>
      </div>
    </div>
    {% endfor %}
      
    {% else %}
    <div class="no-result">
      <img class="search-img" src="{% static 'img/no_result.png' %}" alt="Result not found" style="padding: 30px;">
      <h3>Well this sucks!</h3>
      <p style="font-size: 1.2em;">Unfortunately, your search did not match any episodes. Try again!</p>
      <div class="container col-lg-6">
        <form action="{% url 'search_results' %}" method="get">
          <input name="q" type="search" class="form-control rounded" placeholder="Type a search keyword" style="margin: 30px auto; width: 80%;">
        </form>
      </div>
    </div>

    {% endif %}

  </div>
  <div class="no-result">
   
    <a href="{% url 'episode_list' %}"><button type="button" class="btn btn-outline-success">All Episodes</button></a>
  </div>
</div>


{% endblock %}

{% block sidebar %}

{% endblock %}