{% extends 'podcast/base.html' %}
  {% load static %}

  {% block content %}


  <div class="px-4 py-5 my-5 text-center hero">
    <h1 class="display-5 fw-bold" style="padding:30px">Support Us</h1>
  
  </div>
  
  
  <div class="container d-flex justify-content-center">
  
  
    <div class="row row-cols-1 row-cols-md-2 g-4">
  
    <div class="card" style="width:18rem">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5>Buy us a coffee</h5>
        <p class="card-text">This would go a long way in getting some gears like a proper microphone, headsets and help us host the podcast on a more reliable platform.</p>
          <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="geospatiallypod" data-color="#f05656" data-emoji=""  data-font="Lato" data-text="Buy us a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFDD00" ></script>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sponsor An Episode</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
          data-name="bmc-button" data-slug="geospatiallypod" data-color="#FFDD00" data-emoji="" data-font="Lato"
          data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000"
          data-coffee-color="#ffffff"></script>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Suggest/become a guest</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  </div>


  {% endblock %}