{% extends 'podcast/base.html' %}
{% load static %}

{% block content %}


<div class="px-4 py-5 my-5 text-center hero">
  <h1 class="display-5 fw-bold" style="padding:30px">Support Us</h1>

</div>


<div class="container d-flex justify-content-center">


  <div class="d-grid gap-2 d-md-flex justify-content-md-start">

    <div class="support-card" style="width:18rem">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5>Buy us a coffee</h5>
        <p class="card-text">This would go a long way in getting some gears like a proper microphone, headsets and help
          us host the podcast on a more reliable platform.</p>
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
          data-name="bmc-button" data-slug="geospatiallypod" data-color="#f05656" data-emoji="" data-font="Lato"
          data-text="Buy us a coffee" data-outline-color="#000000" data-font-color="#000000"
          data-coffee-color="#FFDD00"></script>
      </div>
    </div>

    <div class="support-card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sponsor An Episode</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
          data-name="bmc-button" data-slug="geospatiallypod" data-color="#FFDD00" data-emoji="" data-font="Lato"
          data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000"
          data-coffee-color="#ffffff"></script>
      </div>
    </div>

    <div class="support-card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Suggest/become a guest</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>



    
  </div>
</div>

<div class="container-support py-3 pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Pricing</h1>
  <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>20 users included</li>
            <li>10 GB of storage</li>
            <li>Priority email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 users included</li>
            <li>15 GB of storage</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}