{% extends 'podcast/base.html' %}
{% load static %}

{% block content %}

<section class="hero-section">
  <div class="container px-4 py-5">
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">Support Us</h1>
    </div>
  </div>
</section>

<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container">
      <p class="col-md-8 fs-4">We constantly want to bring the best experience to you and it is our desire to be your
        go-to podcast for everything geospatial. You can support us through the following ways </p>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col support">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background-image: url('');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-brown text-shadow-1">
            <h2 class="mb-4 display-6 lh-1 fw-bold">Buy us a Coffee</h2>
            <p class="card-text">This would go a long way in helping us get better audio recording kits which would
              improve the listensing experience and to also cater for hosting the podcast on Podbean.</p>
            <ul>
              <li>Microphone</li>
              <li>Podcast Hosting & production</li>
            </ul>
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
              data-name="bmc-button" data-slug="geospatiallypod" data-color="#FFDD00" data-emoji="" data-font="Lato"
              data-text="Buy us a coffee" data-outline-color="#000000" data-font-color="#000000"
              data-coffee-color="#ffffff"></script>
          </div>
        </div>
      </div>

      <div class="col support">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background-image: url('');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-brown text-shadow-1">
            <h2 class="mb-4 display-6 lh-1 fw-bold">Sponsor An Episode</h2>
            <p class="card-text">If you'd like to sponsor an episode or get a shout out from us, we're happy to talk to
              you about this.</p>
            <ul>
              <li>Get a shout out</li>
              <li>Showcase your logo</li>
            </ul>
            <button onclick="location.href='mailto:gspatially@gmail.com'" class="btn btn-outline-success btn-lg">
              Get in Touch</button>
          </div>
        </div>
      </div>

      <div class="col support">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background-image: url('unsplash-photo-1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-brown text-shadow-1">
            <h2 class="mb-4 display-6 lh-1 fw-bold">General Support</h2>
            <p class="card-text">You can support us in other ways. These include:</p>
            <ul>
              <li>Nominating a Guest</li>
              <li>Suggesting a topic</li>
              <li>Giving general feedback</li>
            </ul>
            <button onclick="location.href='https://forms.gle/wXRUosFco9mWvcsZ9'"
              class="btn btn-outline-primary btn-lg">Contribute</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
