{% extends 'podcast/base.html' %}

{% load static %}

{% block title %} Geospatially Africa Podcast - Tags {% endblock %}

{% block content %}

{% if episode_list %}

<section class="hero-section">
  <div class="container px-4 py-5">
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">Episodes Tagged "{{ request.GET.tag }}"</h1>
    </div>
  </div>
</section>


<div class="container col-lg-6" style="margin: 30px auto;">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for episode in episode_list %}
    <div class="col">
      <div class="card">
        {% if episode.episode_image %}
        <img class="card-img-top" src="{{episode.episode_image.url}}" alt="geospatially africa podcast episode cover">
        {% else %}

        <img class="card-img-top" src="{% static 'img/podcast_art.jpg' %}" alt="geospatially africa podcast podcast cover">

        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{episode.title }}</h5>
          <p class="card-text">{{ episode.summary}}</p>
          <a href="{% url 'episode_detail' slug=episode.slug %}"><button class="btn btn-outline-secondary">Read
              more</button></a>
        </div>
      </div>
    </div>
    {% endfor %}

    {% endif %}

{% endblock %}